<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="5;url=#REDIRECT#" http-equiv="refresh"/>
    <meta content="width=device-width" name="viewport">
    <title>Redirecting in 5 seconds</title>
</head>
<body>
<h1>Redirecting in 5 seconds...</h1>
</body>
</html>